$font: 'Nunito Sans', sans-serif;
$black: rgb(13, 13, 13);
$white: white;
$error: darkred;
$boxshadowlight: lightgrey;
$boxshadowdark: rgb(50, 50, 50);
$mobile: 568px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;